{
    {
        "YugabyteDB": {
            "host": "Globalhost",
            "port": 5433,
            "username": "keerthi_NMS",
            "password": "kdoel233nc",
            "database": "NMS"
        }
    }

}